$primary: #0098A5;
$secondary: #FFD54F;
$dark: #005963;
$light: #fffad7;
$body-bg: #002D38;
$body-color: #111;

$nav-link-color: #1F3B63;
$nav-pills-link-active-color: #FFFFFF;
$nav-pills-link-active-bg: $dark;
@import "../../node_modules/bootstrap/scss/bootstrap";