$primary: #337AB7;
$secondary: #858C97;
$dark: #1F3B63;

$nav-link-color: #1F3B63;
$nav-pills-link-active-color: #FFFFFF;
$nav-pills-link-active-bg: $dark;
@import "../../node_modules/bootstrap/scss/bootstrap";