#container-app { 
    height: 100vh;
    display:flex;
    flex-direction:column;
  }
  
#pnl-head {height: 80px;}

#pnl-main {
    flex: 1;
    display:flex;
    flex-direction:row
}

#pnl-app {
    flex: 1;
    position: relative;
}

#lbl-time-init {
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    left: 50%;
    top: 25%;
    font-size: 10vh;
}
#lbl-time {
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 24px;
    font-size: larger;
}
#lbl-score {
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 64px;
    font-size: 5vh;
}
#txt-score {
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 30%;
    font-size: 10vh;
    opacity: 0;
}
#region-valid {
    position: absolute;
    background-color: white;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 50%;
    left: 50%;
    top: 50%;
    border-color: #d91900;
    border-right-style: dashed;
    border-left-style: dashed;
    border-width: 2px;
}
#region-invalid {
    background-color: #d91900;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
#txt-sub {
    font-size: medium;
}

.target {
    background-color: white;
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    left: 0px;
    top: 50%;
}
.dotted {
    border-style: dotted;
}

#btn-start {
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.fixation {
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: black;
}

.hide {
    visibility: hidden;
}

.active {
    background-color: #B4BE00;
}

.valid {
    color: #B4BE00;
}

.invalid {
    color: #D93F00;
}